<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Cocon{% endblock %}</title>

    {% load static %}

    <link rel="icon" type="image/png" sizes="64x64" href="{% static 'images/cocon-logo.png' %}">

    <link rel="stylesheet"
          href="{% static 'css/style.css' %}?v=5">

</head>

<body class="auth-body">

<div class="auth-wrapper">

    <div class="auth-card">

        <div class="auth-logo">

            <span>Cocon</span>
            <img
                class="brand-icon"
                src="{% static 'images/cocon-logo.png' %}"
                width="50"
                height="50"
                alt="">

        </div>

        {% block content %}
        {% endblock %}

    </div>

</div>

<script>

function togglePassword(id, icon){

    const input = document.getElementById(id);

    if(input.type === "password"){

        input.type = "text";
        icon.textContent = "🙈";

    }else{

        input.type = "password";
        icon.textContent = "👁";

    }

}

</script>

</body>

</html>
